* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    position: relative;
}

.content {
    width: 75vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    transition: opacity 0.5s;
}

.header {
    padding: 20px;
    width: 100vw;
}

.nav-list {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}

.nav-list .nav-item {
    margin: 0 1.4rem;
}

.footer {
    padding: 20px;
    margin-top: auto;
}

.bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nav-link {
    text-decoration: none;
}

.form-group {
    width: 65%;
}

.form-group > * {
    margin-top: 10px;
    margin-bottom: 10px;
}

.nes-dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

textarea {
    resize: none;   
}

.socials {
    display: flex;
    justify-content: space-around;
}

.nes-container {
    max-width: 35%;
}
